@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DungeonHeros</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-black fixed-top">
            <div class="container-fluid">
                <img src="~/assets/img/myLogo.png" width="40px" height="40px" alt="logo.png">
                <a class="navbar-brand mainTitle m-md-2 navTitle" asp-action="Index" asp-controller="Home">Dungeon Hero's</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item active mainTitle">
                            <a class="mainTitle nav-link" asp-action="Index" asp-controller="Home">Game</a>
                        </li>
                        <li class="nav-item active mainTitle">
                            <a class="mainTitle nav-link" asp-action="Index" asp-controller="Home">Studio</a>
                        </li>
                        <li class="nav-item pe-3">
                            <a class="mainTitle nav-link" href="#">Start the adventure</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Barre à dérouler -->
            <nav class="navbar navbar-light bg-black">
                <div class="btn-group dropstart">
                    <a type="button" class="btn btn-secondary navBtnColor" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="" href="#" src="~/assets/justify.svg" alt="" width="30" height="24">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li class="dropdown-item" asp-action="ProfileModification">
                            <a asp-action="ProfileModification" asp-controller="User" class="dropdownItems">
                                <img id="" asp-action="ProfileModification"
                                     src="~/assets/person-fill.svg" alt="" width="30"
                                     height="24" class="m-lg-2">Profile
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-action="Teams" asp-controller="Teams" class="dropdownItems">
                                <img id=""
                                     src="~/assets/person-lines-fill.svg" alt="" width="30"
                                     height="24" class="m-lg-2">Teams
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-controller="Message" asp-action="Messages" class="dropdownItems">
                                <img id="" href="#"
                                     src="~/assets/chat-right-dots-fill.svg" alt="" width="30"
                                     height="24" class="m-lg-2">Messages
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a asp-action="Dungeons" asp-controller="Dungeons" class="dropdownItems">
                                <img id="" href="#"
                                     src="~/assets/dungeon.svg" alt="" width="30"
                                     height="24" class="m-lg-2">Dungeons
                            </a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown-item">
                                <a asp-action="Bestiary" asp-controller="Bestiary" class="dropdownItems">
                                    <img id="" href="#"
                                         src="~/assets/monsters.svg" alt="" width="30"
                                         height="24" class="m-lg-2">Bestiary
                                </a>
                            </li>  
                        }
                        <li class="dropdown-item">
                            <partial name="_LoginPartial"/>
                        </li>
                    </ul>
                </div>
            </nav>
        </nav>
    </div>
</header>
@RenderBody()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>