body {
    background-color: #2c3034;
}

.TeamDisplay {
    margin-top: 6%;
}

.cardContainer {
    border: solid 5px #c5d7f2;
    border-radius: 10px;
}

.deleteCardButton {
    margin-top: -17%;
    margin-right: -8%;
}

.addMargin {
    margin-top: 9%;
}