@model Hero

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true"/>
    <title>Profile</title>
</head>
<body>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Your profile</h3>
                    <form method="post">

                        <div class="col-md-12">
                            <h2 class="text-white">Hero's name</h2>
                            <input class="form-control" type="text" name="name" placeholder="Hero's name" value="@Model.HeroName">
                        </div>

                        <div class="col-md-12 mt-5">
                            <h2 class="text-white">Image path</h2>
                            <input class="form-control" type="text" name="imagePath" placeholder="URL - Image" value="@Model.ImagePath">
                        </div>


                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Apply modifications</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>