@model IList<DungeonHeros.Models.ViewModels.HallOfFame.HallOfFameViewModel>
@{
    ViewData["Title"] = "Accueil";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

</ol>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img class="first-slide mainScreen" src="~/assets/img/elden-ring.jpeg" alt="First slide">
        <div class="container">
            <div class="carousel-caption text-lg-end" data-aos="fade-up">
                <p>
                    A new adventure in a new world.
                    Powerful monsters, fantastic creatures...
                    But also terrifying dungeons that contain the most fearsome monsters
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Game presentation -->
<div class="gamepresentation"></div>
<div class="container marketing mb-4 mt-4">
    <div class="row featurette">
        <div class="col-md-7" data-aos="fade-up">
            <h2 class="featurette-heading title_societyColor">
                Dungeons Heroes.
                <span
                    class="text-muted">
                    The world of tomorrow.
                </span>
            </h2>
            <p class="lead">
                <span>This is our new game, inspired by the greatest MMORPGs in history. Unique classes! (Yes, yes, yes) Majestic dungeons, and above all... Terrifying monsters.  </span>
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded-circle" data-src="holder.js/500x500/auto" alt="500x500"
                 style="width: 250px; height: 250px;"
                 src="~/assets/img/presentations.jpeg"
                 data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider mt-5 mb-5">

    <div class="row featurette">
        <div class="col-md-9 order-md-2" data-aos="fade-up">
            <h2 class="featurette-heading title_societyColor">
                Crazy dungeons with <span class="text-muted">exclusive monsters.</span>
            </h2>
            <p class="lead">
                <span>Discover breathtaking dungeons. Try to win the ultimate battle against the dark lord. Arm yourself with heroes, each unique, prepare yourself and your equipment, and be ready to mount the ultimate challenge. Can you live up to this terrifying game?</span>
            </p>
        </div>
        <div class="col-md-3 order-md-1">
            <img class="featurette-image img-fluid mx-auto im rounded-circle" data-src="holder.js/500x500/auto" alt="500x500"
                 style="width: 250px; height: 250px;"
                 src="~/assets/img/boss.jpeg"
                 data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7" data-aos="fade-up">
            <h2 class="featurette-heading title_societyColor">New Studio <span class="text-muted">innovative.</span></h2>
            <p class="lead">
                <span>New graphic engine for a new life. Dungeon's Heroes is taking on a unique mode in order to get as close to reality as possible, a team of 40 developers have tackled the style of the game, making it look like the real thing. Some users even believe that the game is shot in real life.</span>
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto rounded-circle" data-src="holder.js/500x500/auto" alt="500x500"
                 style="width: 250px; height: 250px;"
                 src="~/assets/img/studioLogo.png"
                 data-holder-rendered="true">
        </div>
    </div>
</div>


<div class="container-fluid bg-dark pb-5 pt-5">
    <h2 class="text-white">Hall Of Fame</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @{
            if (Model.Count == 0)
            {
                <h3 class="text-white m-lg-5">Hall of Fame is Empty.</h3>
            }
        }
        @foreach (var currentWinner in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="~/assets/img/elden-ring.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">@currentWinner.DungeonName defeated by</h5>
                        @foreach (var currentHero in currentWinner.Heroes)
                        {
                            <p class="card-text">@currentHero.HeroName</p>
                        }
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a asp-controller="Message" asp-action="SendMessage" asp-route-id="@currentWinner.TeamId" class="btn btn-secondary" type="submit">Send message</a>
                        </div>   
                    }
                </div>
            </div>
        }
    </div>
</div>


</body>
</html>